* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Racing Sans One', cursive;
}
/* header styling */
#container {
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: whitesmoke;
}
.logo img {
    max-width: 100%;
    height: auto;
    width: 120px;
}
header #logo {
    position: absolute;
    left: 8%;
    top: 30px;
    font-size: 25px;
    z-index: 997;
    font-weight: bold;    
}
nav {
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #FF1801;
    display: grid;
    place-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav ul li {
    font-size: 20px;
    margin: 0 45px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover {
    text-decoration: overline;
    font-size: 22px;
    letter-spacing: 1px;
    cursor: pointer;  
    color: #000;  
}
/* f1 champ button */
nav ul .btn {
    height: 50px;
    width: 120px;
    position: absolute;
    top: 20px;
    right: 7%;
    display: grid;
    place-items: center;
    background: #000;
    border-radius: 10px 20px;
    color: #fff;
}
nav ul .btn:hover {
    background: #fff;
    color: #FF1801;
}
/* end of header styling */

/* modal styling */
.modal {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: relative;
    z-index: 2;
    top: 50px;
    left: 400px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-sizing: border-box;
}
.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
}
.modal button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}
.modal a:hover {
    color:#FF1801;
}
.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
}
.btn-open {
    position: absolute;
    bottom: 150px;
}

.btn-close {
transform: translate(10px, -20px);
padding: 0.5rem 0.7rem;
background: #eee;
border-radius: 50%;
}

.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
backdrop-filter: blur(3px);
z-index: 1;
}

.hidden {
display: none;
}
/* end of modal styling */

/* image styling */
#img {
    position: absolute;
    top: calc(50% - 200px);
    right: 5%;
    z-index: 999;
}
#img img {
    height: 600px;
    filter: drop-shadow(-140px -140px 5px rgba(0,0,0,0.5));
    transition: 0.5s;
}
#img img:hover {
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5)); 
}
/* end of image styling */

/* heading styling */
#heading {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 996;
}
#heading h2 {
    font-size: 80px;
    color: #000;
}
#heading h2:hover {
    color: #FF1801;
    transition: 0.5s;
    cursor: pointer;
}
/* end of heading styling */

/* icons styling */
#icons {
    height: 300px;
    width: 60px;
    position: absolute;
    left: 0;
    top: calc(50% - 200px);
    background: #FF1801;
    border-radius: 0 65px 65px 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 998;
}
#icons:hover{
    background: #000;
    
}
#icons a{
    text-decoration: none;
    height: 40px;
    width: 40px;
    color: #fff;
    display: grid;
    place-items: center;
    margin: 25px 0;
    font-size: 25px;
}
#icons a:hover{
    color: #FF1801;
    transition: 0.75s;
}
/* end of icons styling */

/* start of drivers section styling */ 
.driver-title {
    text-align: center;
}
.driver-title span {
    font-weight: 500;
    color: #FF1801;
    font-size: 50px;
}
.driver-title h3 {
    font-style: italic;
    font-size: 25px;
}

.drivers-pit {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.drivers-pit .cont {
    flex: 2 1 19rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.drivers-pit .cont img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    overflow: hidden;
}
.drivers-pit .cont img:hover {
    transform: scale(1.1);
    transition: 0.7s;
    cursor: pointer;
}
.drivers-pit .cont h2 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 8px;
    border-radius: 0.5rem;
    background: rgb(238, 235, 235);
}
.drivers-pit .cont:hover h2{
    background: #FF1801;
    cursor: pointer;
}

/* end of drivers section styling */

/* dropdowns section stats */
#dropdowns {
    background: whitesmoke;
}

#stats{
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    color:#FF1801;
}
#dropdowns select {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 25px;
    padding-bottom: 50px;
}
#dropdowns span.choose-f1 {
    font-size: 28px;
}
/* end of dropdown section */

/* start of driver and team rankings list styling */
ul {
    list-style-type: none;
}
#drivers img {
    max-width: 90%;
    height: auto;
    width: 80px;
}

/* #rankings h2{
    text-align: center;
} */

#teams img {
    margin-bottom: 20px;
}
#rankings {
    display: flex;
    justify-content: space-around;
}
/* end of driver and team rankings list styling */

/* d2s section styling */
#extras {
    color: #FF1801;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 30px auto;
    text-align: center;
    width: 1130px;
}

#myVideo {
    
    min-width: auto;
    height: auto;
}

/* content at the bottom of the video/page */
.content {
position: relative;

background: rgba(0, 0, 0, 0.5);
color: #f1f1f1;
width: 100%;
padding: 20px;
}
#myBtn {
width: 200px;
font-size: 18px;
padding: 10px;
border: none;
background: #000;
color: #fff;
cursor: pointer;
}

#myBtn:hover {
background: #ddd;
color: black;
}
#d2s span#must {
    color:#FF1801;
}

#mutebtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}
#mutebtn:hover {
    background: #ddd;
    color: black;
    }
/* end of d2s section styling */

/* footer styling */
footer {
    /* background: var(--text-color);
    color: whitesmoke;
    border-top: 2px solid var(--main-color); */
    background: #000;
    color: whitesmoke;
    border-top: 2px solid var(--main-color);
}
.footer-box{
    display:flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-box .pic-art {
    color: var(--bg-color);
    margin-bottom: 1rem;
}
.footer-box .footer-wrapper {
    display: flex;
    flex-direction: column;
}
.footer-wrapper h4 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-wrapper a{
    color: #b3abab;
    margin-bottom: 10px;
}
.footer-wrapper a:hover {
    color: #FF1801
}


/* end of footer styling */

/* copyright section styling */
details {
    padding: 15px;
    text-align: center;
    background: #FF1801;
}

/* end of copyright section styling */

/* scroll bar styling */
html::-webkit-scrollbar {
    width: 0.7rem;
    background: #000;
}
html::-webkit-scrollbar-thumb {
    border-radius: 7rem;
    background: #FF1801;
}
/* end of scroll bar styling */

/* Scroll behaviour */
html {
    scroll-behavior: smooth;
}
/* End of Scroll behaviour */

/* Scroll to Top button */
.scroll-top {
    position: fixed;
    bottom: 800px;
    right: 40px;
    width: 60px;
    height: 60px;
    background:#FF1801 url('./images/up.png');
    border-radius: 50%;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 40px;
}

/* End of Scroll to Top button */

/* responsiveness */
@media (max-width: 1080px) {
    #container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media (max-width: 350px) {
    nav {
        padding: 15px 20px;
    }
    section {
        padding: 3rem 0 1rem;
        display: block;
        position: absolute;
        flex-direction: column;
    }
    #heading {
        font-size: 2rem;
    }
}
@media (max-width: 414px) {
    #heading {
        font-size: 1.4rem;
    }
    #pilots {
        flex-direction: column-reverse;
    }
}

/* end of responsiveness */