* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Racing Sans One', cursive;
}
/* header styling */
#container {
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: whitesmoke;
}
.logo img {
    max-width: 100%;
    height: auto;
    width: 120px;
}
header #logo {
    position: absolute;
    left: 8%;
    top: 30px;
    font-size: 25px;
    z-index: 997;
    font-weight: bold;    
}
nav {
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #FF1801;
    display: grid;
    place-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav ul li {
    font-size: 20px;
    margin: 0 45px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover {
    text-decoration: overline;
    font-size: 22px;
    letter-spacing: 1px;
    cursor: pointer;    
}

/* end of header styling */

/* image styling */
#img {
    position: absolute;
    top: calc(50% - 200px);
    right: 5%;
    z-index: 999;
}
#img img {
    height: 600px;
    filter: drop-shadow(-140px -140px 5px rgba(0,0,0,0.5));
    transition: 0.5s;
}
#img img:hover {
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5)); 
}
/* end of image styling */

/* heading styling */
#heading {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 996;
}
#heading h2 {
    font-size: 80px;
    color: #000;
}
#heading h2:hover {
    color: #FF1801;
    transition: 0.5s;
}
/* end of heading styling */

/* icons styling */
#icons {
    height: 300px;
    width: 60px;
    position: absolute;
    left: 0;
    top: calc(50% - 200px);
    background: #FF1801;
    border-radius: 0 65px 65px 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 998;
}
#icons:hover{
    background: #000;
    
}
#icons a{
    text-decoration: none;
    height: 40px;
    width: 40px;
    color: #fff;
    display: grid;
    place-items: center;
    margin: 25px 0;
    font-size: 25px;
}
#icons a:hover{
    color: #FF1801;
    transition: 0.75s;
}
/* end of icons styling */

/* dropdowns section stats */
#dropdowns {
    background: whitesmoke;
}
#stats{
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    color:#FF1801;
}
#dropdowns select {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 25px;
    padding-bottom: 50px;
}
#dropdowns span#choose-f1 {
    font-size: 28px;
}
/* end of dropdown section */

/* start of driver list styling */
ul {
    list-style-type: none;
}
#drivers img {
    max-width: 90%;
    height: auto;
    width: 80px;
}

#rankings h2{
    text-align: center;
}

/* end of driver list styling */

/* footer styling */
footer {
    /* background: var(--text-color);
    color: whitesmoke;
    border-top: 2px solid var(--main-color); */
    background: #000;
    color: whitesmoke;
    border-top: 2px solid var(--main-color);
}
.footer-box{
    display:flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-box .pic-art {
    color: var(--bg-color);
    margin-bottom: 1rem;
}
.footer-box .footer-wrapper {
    display: flex;
    flex-direction: column;
}
.footer-wrapper h4 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-wrapper a{
    color: #b3abab;
    margin-bottom: 10px;
}
.footer-wrapper a:hover {
    color: #FF1801
}


/* end of footer styling */

/* copyright section styling */
details {
    padding: 15px;
    text-align: center;
    background: #FF1801;
}

/* end of copyright section styling */

/* scroll bar styling */
html::-webkit-scrollbar {
    width: 0.7rem;
    background: #000;
}
html::-webkit-scrollbar-thumb {
    border-radius: 7rem;
    background: #FF1801;
}
/* end of scroll bar styling */